@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.total{
    display: flex;
    flex-wrap: wrap;
}
/* *{
    border: 2px solid red;
} */
/* #root{
    perspective: 1500px;
} */
.sidebar{
    position: absolute;
    background-color: red;
    height: 100vh;
    /* width: 20vw; */
    left: 0;
    z-index: 15;
    visibility: inherit;
    transition: width 2s;
    overflow: hidden;
}


.header-box{
    /* background-color: red; */
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100vw;
    /* margin-left: 25vw; */
    justify-content: space-between;
}

.header-box > div{
    margin: 10px 5px;
}


.header-left{
    width: 150px;
    z-index: 10;
}
.option-icon{
    width: 44px;
    height: 30px;
    padding: 13px 28px;
    transition: width 0.1s;
}
.option-icon:hover{
    width: 54px;
}

.search-icon{
    width: 40px;
    height: 32px;
    margin-right: 28px;
}

.header-center {
    font-family: 'Maven Pro', sans-serif;
    color: white;
    z-index: 4;
    font-size: 41px;
    line-height: 54px;
    letter-spacing: 10px;
    font-weight: 100;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; 
}


.header-right{
    display: flex;
    right: 0;
    align-items: center;
    z-index: 10;
}
.header-right > *{
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin: auto 15px;
    color: white;
    padding-right: 20px;
}
.header-right input{
    height: 20;
    background-color: transparent;
    border: none;
    text-align: right;
    text-transform: uppercase;
}
.header-right input:focus{
    outline: none;
}

